.popup-content {
    min-height: 200px;
    width: 400px;
}
.popup-header {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: start;
    margin: 0;
}
.popup-header h2 {
    font-size: 18px;
    margin: 0;
}
.availability {
    margin: 0;
    display: flex;
    font-size: 16px;
}
.availability p {
    margin: 0 !important;
}
.availability p span {
    margin: 0;
}
.popup-main p {
    font-size: 14px;
    margin: 5px 0 !important;
}
.popup-main p {
    margin: 0;

}
.popup-type  {
    margin: 0;
}
.popup-address {
    margin: 0;
}
.popup-info {
    margin: 0;
}
.popup-end {
    position: absolute;
    /* height: 100%; */
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    left: 0px;
    gap: 15px;
}
.popup-end button {
    border: 1px solid black;
    background: none;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
}
.popup-end .button-data {
    border: 1px solid #149fd6;
    background: #149fd6;
    color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.3s ease all;
}
.popup-end .button-data:hover {
    background: #6cc6e9;
    border: 1px solid #6cc6e9;
}
.popup-end .button-review {
    border: 1px solid #dfdfdf;
    background: #dfdfdf;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.3s ease all;
}
.popup-end .button-review:hover {
    background: #e9e9e9;
    border: 1px solid #e9e9e9;
}