.white-menu {
    height: 600px;
    /* height: 85vh; */
    width: 460px;
    background: white;
    z-index: 499;
    border-radius: 20px;
    padding: 5px 10px 30px 10px;
    transition: all 0.2s ease;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}
@media (max-width: 480px) {
    .white-menu {
        width: 400px;
    }
}
.filters-window {
    z-index: 499;
    border-radius: 20px;
    padding: 15px 10px;
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}
.main-title {
    font-size: 32px;
    font-weight: 600;
}
.title-lan {
    font-weight: 500;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 0 10px 30px;
}
.lan-wrap {
    width: 100%;
}
.filters-window .box-lan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.filters-window .checkbox-lan{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.filters-window .checkbox-lan input {
    outline: none;
    border: none;
}
.filters-window .box-lan p:first-child {
    font-weight: 500;
    font-size: 20px;
}
.question_mark {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: rgb(115, 38, 134);
    cursor: pointer;
}
.question_mark p:hover {
  text-decoration: underline;
}
.hover-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.full-ques-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.full-ques-box .question-inside {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    width: 250px;
    background: rgb(221, 221, 221);
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5px;
    top: 35px;
    transition: all 0.2s ease;
}
.question-inside span {
    font-size: 14px;
    text-align: justify;
}
.dropdown-place select {
    height: 30px;
    width: 100px;
}
.close-button {
    position: absolute;
    z-index: 501;
    right: 0;
    padding: 10px 20px;
    /* right:20px;
    top: 90px; */
}
.close-button button {
    outline: none;
    border: none;
    background: none;
}
.close-button i {
    font-size: 44px;
}