.request-window {
    position: fixed;
    z-index: 99999;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
}
.request-background {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.501);
    padding: 0;
    margin: 0;
}

.request-window-modal {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.request-modal {
    display: flex;
    justify-content: space-between;
    align-items: start;
     position: absolute; 
    flex-direction: column;
    background:  white;
    height: 500px;
    width: 660px;
    border-radius: 20px;
    padding: 15px 15px 10px 20px;
    margin-bottom: 00px;
    padding-bottom: 10px;
}
.req-title p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 640px;
    font-size: 18px;
}
.req-pairs-box {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    padding: 10px 0 0 0;
    height: 100%;
    width: 100%;
}
.req-label-text-pair {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    margin: 4px 0;
    gap: 4px;
    width: 100%;
}
.req-label-text-pair textarea {
    border-radius: 5px;
    resize: none;
    height: 100%;
    width: 99%;
    font-size: 16px;
    padding: 5px;
}
.req-end {
    display: flex;
    justify-content: end;
    width: 620px;
}
.req-end button {
    border: none;
    background: #7ccff5;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.3s ease all;
}