.single-result {
    height: 95px;
    min-height: 95px;
    max-height: 95px;
    position: relative;
}
.single-result .result-name {
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.single-main-result {
    font-weight: 500;
}
.result-name .fa.fa-star {
    /* font-size: 16px; */
    color: rgb(255, 188, 2);
}
.single-result .single-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.single-description {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5px 0 0 0;
}
@media (max-width: 480px) {
    .single-result p,span{
        font-size: 13px;
    }
}